<tr>
   <td><%= link_to defendant.name, defendant_path(defendant) %></td>
   <td><%= defendant.last_mailing_address %></td>
   <td><%= defendant.immigration_status %></td>
   <td class='button'><%= link_to 'edit', edit_defendant_path(defendant) %></td>
   <td class='button'><%= link_to 'delete', defendant_path(defendant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<tr>
