<%= form_for(@person) do |f| %>
   <% if @person.errors.any? %>
      <div id='errorExplanation'>
         <h2><%= pluralize(@person.errors.count, 'error') %> prohibited this person from being saved:</h2>

         <ul>
            <% @person.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <div class='field'>
      <%= f.label :type %><br />
      <%= select(:person, :type, ['Attorney', 'Defendant', 'Witness']) %>
   </div>

   <div class='field'>
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />
   </div>

   <div class='field'>
      <%= f.label :immigration_status %><br />
      <%= f.text_field :immigration_status %><br />
   </div>

   <div class='field'>
      <%= f.submit %>
   </div>
<% end %>
