<%= form_for(@attorney) do |f| %>
   <% if @attorney.errors.any? %>
      <div id='errorExplanation'>
         <h2><%= pluralize(@attorney.errors.count, 'error') %> prohibited this attorney from being saved:</h2>

         <ul>
            <% @attorney.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <%= f.submit %>
  </div>
<% end %>
