<div class='basic_info'>
   <h2>
     <strong><%= @person.class %></strong> <%= @person.name %> (<%= link_to 'edit', edit_person_path(@person) %>)
   </h2>

   <%= render partial: 'phone_numbers/phone_number_list', locals: { numbers: @person.phone_numbers } %>
</div>

<div class='cases'>
   <h2>CASES</h2>
   <table>
      <tr>
         <th>Case</th>
         <th>Docket Number</th>
         <th>Next Court Date</th>
      </tr>
      <% @person.cases.each do |c| %>
         <tr>
            <td><%= link_to(c.formatted_name, c) %></td>
            <td><%= link_to(c.docket_number, c) %></td>
            <td><%= c.next_court_date %></td>
         </tr>
      <% end %>
   </table>
</div>
