<div class='basic_info'>
   <h2>
     <strong><%= @person.name %></strong> (<%= link_to 'edit', edit_person_path(@person) %>)
   </h2>

   <%= render partial: 'phone_numbers/phone_number_list', locals: { numbers: @person.phone_numbers } %>
</div>

<div class='cases'>
   <h2>CASES</h2>
   <table>
      <tr>
         <th>Role</th>
         <th>Case</th>
         <th>Docket Number</th>
         <th>Next Court Date</th>
      </tr>
      <% @person.people_cases.each do |pc| %>
         <tr>
            <td><%= pc.class.to_s %></td>
            <td><%= link_to(pc.case.formatted_name, pc.case) %></td>
            <td><%= link_to(pc.case.docket_number, pc.case) %></td>
            <td><%= pc.case.next_court_date %></td>
         </tr>
      <% end %>
   </table>
</div>
