<h1><%= @case.formatted_name %> (<%= link_to 'Edit', edit_case_path(@case) %>)</h1>

<%= render partial: 'cases_list', locals: { cases: [@case] } %>


<div class='defendants'>
   <h2>Complainants (<%= link_to('Add Complainant', new_people_case_path(case_id: @case.id, person_class: 'Complainant')) %>)</h2>
   <%= render partial: 'people_cases/people_case_list', locals: { people_cases: @case.complainants } %>
</div>

<div class='defendants'>
   <h2>Defendants (<%= link_to('Add Defendant', new_people_case_path(case_id: @case.id, person_class: 'Defendant')) %>)</h2>
   <%= render partial: 'defendants/defendant_list', locals: { people_cases: @case.defendants } %>
</div>

<div class='defendants'>
   <h2>Witnesses (<%= link_to('Add Witness', new_people_case_path(case_id: @case.id, person_class: 'Witness')) %>)</h2>
   <%= render partial: 'people_cases/people_case_list', locals: { people_cases: @case.witnesses } %>
</div>

<div class='court_people'>
   <div class='judges'>
      <h2>Judges (<%= link_to('Add Judge', new_people_case_path(case_id: @case.id, person_class: 'Judge')) %>)</h2>
      <%= render partial: 'people_cases/people_case_list', locals: { people_cases: @case.judges } %>
   </div>

   <div class='attorney_container'>
      <div class='attorneys'>
         <h2>Prosecutors (<%= link_to('Add Attorney', new_people_case_path(case_id: @case.id, person_class: 'ProsecutingAttorney')) %>)</h2>
         <%= render partial: 'people_cases/people_case_list', locals: { people_cases: @case.prosecuting_attorneys } %>
      </div>

      <div class='attorneys'>
         <h2>Defenders (<%= link_to('Add Attorney', new_people_case_path(case_id: @case.id, person_class: 'DefenseAttorney')) %>)</h2>
         <%= render partial: 'people_cases/people_case_list', locals: { people_cases: @case.defense_attorneys } %>
      </div>
   </div>
</div>

<div class='sub_basic_info'>
   <h2>Timeline (<%= link_to('Add Event', new_event_path(case_id: @case.id)) %>)</h2>
   <%= render partial: 'events/event_list', locals: { events: @case.events } %>
</div>
