<%= form_for(@case_charge) do |f| %>
   <% if @case_charge.errors.any? %>
      <div id='errorExplanation'>
         <h2><%= pluralize(@case_charge.errors.count, 'error') %> prohibited this charge from being saved:</h2>

         <ul>
            <% @case_charge.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <%= f.hidden_field :case_id, value: @case.id %>

   <div class='field'>
      <%= f.label :charge %><br />
      <%= select(:cases_charge, :charge_id, @charges.map { |c| [c.name[0..50], c.id] } ) %>
   </div>

   <div class='field'>
      <%= f.label :comment %><br />
      <%= f.text_area(:comment, cols: '50', rows: '10') %>
   </div>

   <div class='field'>
      <%= f.submit %>
   </div>
<% end %>
