<%= form_for(@person_case) do |f| %>
   <% if @person_case.errors.any? %>
      <div id='errorExplanation'>
         <h2><%= pluralize(@person_case.errors.count, 'error') %> prohibited this person from being saved:</h2>

         <ul>
            <% @person_case.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <% if @case && @people %>
      <%= f.hidden_field :case_id, value: @case.id %>

      <div class='field'>
         <%= f.label :name %><br />
         <%= select(:people_case, :person_id, @people.map { |p| [p.name, p.id] }) %>
      </div>
   <% elsif @person_case %>
      <h3>Editing <%= @person_case.person.name %>'s relation to <%= @person_case.case.formatted_name %></h3>
   <% end %>

   <% if @person_class == 'Attorney' || (@person_case && @person_case.person.is_a?(Attorney)) %>
      <div class='field'>
         <%= f.label :side %><br />
         <%= select(:people_case, :role, ['Prosecution', 'Defense']) %><br />
      </div>
   <% end %>

   <div class='field'>
      <%= f.label :comment %><br />
      <%= f.text_area(:comment, cols: '50', rows: '10') %>
   </div>

   <div class='field'>
      <%= f.submit %>
   </div>
<% end %>
