<%= form_for(@person_case) do |f| %>
   <% if @person_case.errors.any? %>
      <div id='errorExplanation'>
         <h2><%= pluralize(@person_case.errors.count, 'error') %> prohibited this person from being saved:</h2>

         <ul>
            <% @person_case.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <h3>Adding <%= @person_class %> to <%= @case.docket_number %></h3>

   <div class='field'>
      <%= f.label :name %><br />
      <%= select(:people_case, :person_id, @people.map { |p| [p.name, p.id] }) %>
   </div>

   <div class='field'>
      <%= f.label :case %><br />
      <%= select(:people_case, :case_id, Case.all.map { |c| [c.docket_number, c.id] }) %><br />
   </div>

   <div class='field'>
      <%= f.submit %>
   </div>
<% end %>
