<table>
   <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Comment</th>
      <th>Edit</th>
      <th>Delete</th>
   </tr>

   <% people_cases.each do |pc| %>
      <tr>
         <td><%= pc.type %></td>
         <td><%= link_to(pc.person.name, pc.person) %></td>
         <td><%= pc.comment %></td>
         <td><%= link_to 'Edit Link to Case', edit_people_case_path(pc) %></td>
         <td><%= link_to 'Delete', pc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   <% end %>
</table>
